<div class="cassete">
  {% if review.score %}
  <select class="barrating" data-score="{{review.score}}">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  {% endif %}
  {% if review.photo %}
  <img src="{{review.photo.url}}" width="100"><br>
  {% endif %}
  {{ review.comment }}<br>
  <span class="review-meta">{{ review.posted_by.nickname }} さんが {{ review.posted_at|date:"Y/m//d G:i:s" }} に投稿</span>
</div>
