{% extends '../base.html' %}
{% load static %}

{% block title %}トップ{% endblock %}

{% block header_css %}
  <link rel="stylesheet" href="{% static 'css/jquery-bar-rating/fontawesome-stars-o.css' %}">
{% endblock %}

{% block content %}
<section>
  <div class="row">
    <div class="col-sm"><h2>お店を探す</h2></div>
    <div class="col-sm"><a href="{% url 'shops:create' %}" class="btn btn-secondary">新しいお店を登録する</a></div>
  </div>
  <ul>
    {% for shop in shop_list %}
    <li>
      <p>{{ shop.name }}（{{ shop.kana_name }}）</p>
      <p>{{ shop.phone_number}}</p>
      <p>{{ shop.prefecture.name }} {{ shop.address }}</p>
    </li>
    {% endfor %}
  </ul>
</section>
<section>
  <div class="row">
    <div class="col-sm"><h2>新着口コミ</h2></div>
    <div class="col-sm"><a href="{% url 'reviews:create' %}" class="btn btn-secondary">口コミを投稿する</a></div>
  </div>
  <ul>
    {% for review in review_list %}
    <li>
      <p>posted by {{ review.posted_by.nickname }} {{ review.posted_at|date:"Y/m//d G:i:s" }}</p>
      {% if review.score %}
      <select class="barrating" data-score="{{review.score}}">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      {% endif %}
      {% if review.photo %}
      <img src="{{review.photo.url}}" width="200" height="200">
      {% endif %}
      <p>{{ review.comment }}</p>
    </li>
    {% endfor %}
</section>
{% endblock %}

{% block footer_js %}
  <script src="{% static 'js/jquery-bar-rating/jquery.barrating.min.js' %}"></script>
  <script>
    $(function(){
      $('.barrating').each(function(){
        var $this = $(this);
        $this.barrating({
          theme: 'fontawesome-stars-o',
          readonly: true,
          initialRating: $this.data('score'),
        });
      });
    });
  </script>
{% endblock %}
